<header>
  <div class="titulo col-lg-6">
      <span id="titulo">SUPERMERCADO</span> 
  </div> 


  <div class="col-lg-3">
      
      <div class="cabecera input-group">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Buscar en supermercado">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="false"></i></button>
        </span>
      </div>
  </div>
  <div (click)="cambiarActivo()" class="carrito col-lg-3">
    <div id="carrito">
        <span class="badge">{{carrito.numProductos}}</span><span><i class="fa fa-shopping-basket" aria-hidden="true"></i>   {{ carrito.precio }} <i class="fa fa-eur" aria-hidden="true"></i></span> 
    </div>
    <div class="col-lg-12" [ngClass]="activo?'visible':'invisible'" >
        <app-carrito [carrito]="carrito"></app-carrito>
        <div id="botones">
            <button (click)="vaciarCarrito()"id="borrado">Vaciar el carrito</button>
            <button id="compra">Ver/Tramitar Compra</button>
          </div>
     </div>
  </div>
</header>
<div class="listado row">
    <div *ngFor="let producto of stock | filter : searchText" class="col-xs-6 col-sm-3">
      <div id="datos-producto" class="thumbnail">
          <div *ngIf="producto.oferta!=0" id="oferta">
            <span>{{producto.oferta}}%</span>
          </div>
          <img id="imagen-producto"src="{{producto.foto}}" alt="{{ producto.nombre }}">
          <div class="caption">
          <p id="precios"><span [ngClass]="(producto.oferta!=0)?'tachada':''">{{producto.precio}}<i class="fa fa-eur" aria-hidden="true">/{{producto.unidad}}</i></span> <span class="precio-oferta" *ngIf="producto.oferta!=0">{{producto.precioOriginal}}<i class="fa fa-eur" aria-hidden="true"></i>/{{producto.unidad}}</span></p>
          <p>{{producto.nombre}}</p>
          <div id="cantidad">
            <span class="resta" (click)="restar(producto)">-</span>
            <span class="cantidad">{{producto.cantidad}}</span>
            <span class="suma" (click)="sumar(producto)">+</span>
            
          </div>
        </div> 
      </div>
      <button class="comprar" (click)="subirAlCarrito(producto)">Añadir al carrito</button>
    </div>
</div>

