header{
    background-color:rgb(56, 56, 56);
    margin-top:0px;
    padding:5px;
    text-align: center;
    #titulo{
        color:rgb(175, 174, 174);
        font-size:1.5em;
        margin:0;
    }
    #icono-busqueda{
        background-color:rgb(175, 174, 174);
        padding:5px;
    }
}