header{
    background-color:rgb(56, 56, 56);
    margin-top:0px;
    padding:5px;
    height:50px;
    .titulo{
        text-align: right;
        #titulo{
            color:rgb(175, 174, 174);
            font-size:1.5em;
            margin:0;
        }
    }
    .carrito{
        text-align: right;
    }
    
    #carrito{
        background-color:rgb(118, 240, 118);
        height:35px;
        text-align: center;
        font-size:1.5em;
        &:hover{
            background-color:rgb(184, 253, 184);
        }
        
        span{
            color:white;
            i{
                position: relative;
            }
        }
        .badge{
            position:absolute;
            z-index:1;
            left:37%;
        }
    }
    
}
#datos-producto{
    position:relative;
    margin-bottom:0px;
    #oferta{
        display:inline-block;
        width:100px;
        padding:5px 10px;
        font-size: 1.5em;
        color:white;
        text-align: center;
        position:absolute;
        background-color:rgb(248, 70, 70);
        border-radius:10px;
    }
    #imagen-producto{
        height:200px;
        width: auto;
        
    }
    #precios{
        color:grey;
        font-size: 1.5em;
        .precio-oferta{
            color:rgb(248, 70, 70);
        }
        .tachada{
            text-decoration: line-through;
            color:grey;
        }
    }
    p{
        color:grey;
    }
    #cantidad{
        display:inline-block;
        border-radius:50px;
        margin-left:25%;
        background:rgb(231, 231, 231);
        border:1px rgb(172, 170, 170) solid;
        padding:10px;
        width:50%;
        text-align:center;
        span{
            font-size:1.5em;
        }
        .suma,.resta{
            font-weight: 700;
            font-size:1.5em;
            &:hover{
                color:rgb(118, 240, 118);
                cursor: pointer;
            }
        }
        .resta{
            margin-right:25%;
        }
        .suma{
            margin-left:25%;
        }
    }
    
}
.comprar{
    display:block;
    width:100%;
    background-color:rgb(118, 240, 118);
    color:white;
    text-align: center;
    font-size:1.5em;
    padding-top:5px;
    padding-bottom:2px;
    margin-bottom:10px;
    &:hover{
        background-color:rgb(184, 253, 184);
    }
}
.invisible{
    visibility:hidden;
    position:absolute;
}
.visible{
    visibility:visible;
    position:absolute;
    z-index:5;
}
#botones{
    background-color: white;
}
#borrado{
    color:rgb(118, 240, 118);;
    background-color:white;
    height:100px;
    width:49%;
}
#compra{
    color:white;
    background-color:rgb(118, 240, 118);;
    height:100px;
    width:49%;
}